.coming-soon-wrap input[type=text],.coming-soon-wrap select,.coming-soon-wrap textarea {width: 74%; padding: 8px 10px;border-radius: 5px;border: 1px solid #aaa;}
.coming-soon-wrap input[type=text].disabled-default{display: none;}
.coming-soon-wrap input.csn_btn_default {padding: 7px 10px;border: 1px solid #23282d;background-color: #23282d;color: #FFF;text-transform: capitalize;text-align: center;cursor: pointer;border-radius: 3px;}
.coming-soon-wrap input.csn_btn_default:hover {background: #43494e;}
.coming-soon-contents {padding: 10px 20px;background: #FFF;border-radius: 10px;box-shadow: 0 0 24px #000000;margin-top: 30px;}
.coming-soon-wrap .cs-notifier-setting-section {width: 49%;display: inline-block;border-right: 1px solid #CCC;vertical-align: top;}
.coming-soon-wrap .cs-notifier-preview_section {width: 50%; display: inline-block;}

/*preview section css*/
#home h1 {text-align: center;font-size: 42px;}
.main-text h2.top-text {text-align: center;font-size: 18px;font-weight: 600;}
.carousel-inner {max-width: 100%;word-wrap: break-word;padding: 20px 20px 20px 20px;min-height: 300px;margin-top: 70px;}
.logo_image {text-align: center;}
.logo_image img {width: 25%;height: auto;}
.notification_section {width: 100%;text-align: center;margin-left: 90px;}
.input-group-newsletter input {font-size: 1rem;padding: 1rem;float: left;height: 7px;}
.input-group-append {margin-left: -1px;float: left;}
.input-group-newsletter button {display: inline-block;width: auto;clear: both;font-family: inherit;font-weight: 600;padding: 9px 26px;line-height: normal;text-transform: capitalize;border: none;}
/*preview section css*/